.frame {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  place-items: center;
}

.game {
  display: flex;
  flex-direction: column;
  place-items: center;
}

h1,
h2 {
  color: white;
  font-family: var(--ff__01);
}


.circlesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.desktop {

}

.mobile {
  transform: scale(0.7);
}
