.frame {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.game {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  place-items: center;
}

h1,
h2 {
  color: white;
  font-family: var(--ff__01);
}

h1 {
  margin-top: 1em;
}

.circlesContainer {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  width: 50vw;
}
